In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('~/Documents/work/Active-Learning-TUD-Thesis/mod_datasets/samples.csv', sep='\t', header=0, index_col=0, parse_dates=['GMT'], low_memory=False)
df_tariff = pd.read_csv('~/Documents/work/Active-Learning-TUD-Thesis/UKDA-7857-csv/csv/data_collection/data_tables/tariff_d.csv', sep=',', header=0, index_col=0, parse_dates=['GMT'], low_memory=False)

In [27]:
df.head()

,AIR_TEMPERATURE,DEWPOINT,MSL_PRESSURE,STN_PRES,VISIBILITY,WETB_TEMP,WIND_DIRECTION,WIND_SPEED,WMO_HR_SUN_DUR,dow,expected,hod,month,response,season,tariff
GMT,,,,,,,,,,,,,,,,
2013-06-13 00:00:00,14.20,11.20,1010.30,1007.30,1900.0,12.60,210.0,14.0,0.0,3,0.131707,0,6,0.131707,3,0
2013-06-13 00:30:00,14.05,10.85,1009.95,1006.95,1900.0,12.35,215.0,13.5,0.0,3,0.115803,0,6,0.115803,3,0
2013-06-13 01:00:00,13.90,10.50,1009.60,1006.60,1900.0,12.10,220.0,13.0,0.0,3,0.107415,1,6,0.107415,3,0
2013-06-13 01:30:00,13.80,10.50,1009.35,1006.35,1850.0,12.05,215.0,13.0,0.0,3,0.101718,1,6,0.101718,3,0
2013-06-13 02:00:00,13.70,10.50,1009.10,1006.10,1800.0,12.00,210.0,13.0,0.0,3,0.098181,2,6,0.098181,3,0

In [17]:
df.columns

Index(['AIR_TEMPERATURE', 'DEWPOINT', 'MSL_PRESSURE', 'STN_PRES', 'VISIBILITY',
       'WETB_TEMP', 'WIND_DIRECTION', 'WIND_SPEED', 'WMO_HR_SUN_DUR', 'dow',
       'expected', 'hod', 'month', 'response', 'season'],
      dtype='object')

In [22]:
df.to_csv("samples.csv", sep='\t')